extends layout

block content
  .container
    h1= title
    h2 Welcome, 
      span.name= user.name_given

    ul.nav.nav-tabs(role='tablist')
      li.active
        a(href='#') Update Your Account
      li
        a(href='/logout') Logout

    form.form-account(method='post', action='', role='form')
      p Update your account settings for #{title}.

      if message
        div.messages(class='alert alert-warning', role='alert') #{message}

      .form-group
        input.form-control(name='email', type='email', placeholder='Email address', value='#{user.email}', required)
      .form-group
        input.form-control(name='email_recovery', type='email', placeholder='Recovery email address', value='#{user.email_recovery}')
      .form-group
        input.form-control(name='pass_new', type='password', placeholder='New password')
      .form-group
        input.form-control(name='pass_confirm', type='password', placeholder='New password (confirm)')
      .form-group
        input.form-control(name='name_given', type='text', placeholder='Given name', value='#{user.name_given}')
      .form-group
        input.form-control(name='name_family', type='text', placeholder='Family name', value='#{user.name_family}')
      unless allowPasswordReset
        .form-group.bg-warning.hidden
          input.form-control(name='pass_current', type='password', placeholder='Current password')
          em You must provide your current password to change your email address, recovery email, or password.

      .form-group
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Update Account
        input(type='hidden', name='redirect_uri', value='#{redirect_uri}')
        input(type='hidden', name='user_id', value='#{user.user_id}')
        input(type='hidden', name='_csrf', value='#{csrf}')
