extends layout

block content
  p You are logged in as #{user.name_given} #{user.name_family}
  .container.main
    h1= title
    h2 Administration

    ul.nav.nav-tabs(role='tablist')
      li.active
        a(href='/admin/users') Administer Users
      li
        a(href='/admin/apps') Administer Client Keys

    .container.main
      .row
       p.admin-lead-in Manage all accounts on #{title}.

       if message
        div.messages(class='alert alert-warning', role='alert') !{message}

       div
        table(id='list' class='table tablesorter')
          thead
            tr
              th User ID
              th Given Name
              th Family Name
              th Email
              th Status
              th Roles
              th Operations
          tbody
           each item, i in accounts
            tr
              td
                a(href='/admin/users/#{item.email}') #{item.email}
              td #{item.name_given}
              td #{item.name_family}
              td
                a(href='mailto:#{item.email_recovery}') #{item.email_recovery}
              td
                if item.active
                  span active
                else
                  span inactive
              td
                each role, i in item.roles
                  ul
                    li #{role}
              td
                div(class='btn-group')
                  a(href='/admin/users/#{item.email}' class='btn btn-primary') View Account
                  button(type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    span(class='caret')
                    span(class='sr-only') Toggle Dropdown
                  ul(class='dropdown-menu')
                    each op, i in item.ops
                      li
                        a(href='#{i}') #{op}



