extends layout

block content
  p You are logged in as #{user.name_given} #{user.name_family}
  .container.main
    h1= title
    h2 Administration

    .container.main
      .row
        if message
          div.messages(class='alert alert-warning', role='alert') !{message}
        ul
          each item, i in pages
            li
              a(href='/#{item.path}')
                strong #{item.label}:
              span  #{item.description}
