extends layout

block content
  .main
    include adminToolbar.jade
    .container
      h1= title
      h2 Administration

      ul.nav.nav-tabs(role='tablist')
        li.active
          a(href='/admin/users') Administer Users
        li
          a(href='/admin/apps') Administer App Keys

      .container
        .row
          p.admin-lead-in View user "#{account.id}".

          if message
            div.messages(class='alert alert-warning', role='alert') !{message}

          div
            ul
              li
                strong
                  User Id:&nbsp;
                span
                  a(href='/admin/users/#{account.user_id}') #{account.user_id}
              li
                strong Name:&nbsp;
                span #{account.name_given} #{account.name_family}
              li
                strong Email:&nbsp;
                a(href='mailto:#{account.email}') #{account.email}
              li
                strong Recovery Email:&nbsp;
                a(href='mailto:#{account.email_recovery}') #{account.email_recovery}
              li
                strong Status:&nbsp;
                if account.active
                  span Active
                else
                  span Inactive
              if account.roles.length
                li
                  strong Roles:&nbsp;
                  each role, i in account.roles
                    ul
                      li #{role}
              if account.authorized_services
                li
                  strong Authorized Applications:&nbsp;
                  each profiles, name in account.authorized_services
                    ul
                      li #{name}

          div(class='btn-toolbar' role='toolbar')
            each op, i in actions
              if op.valid
                div(class='btn-group' role='group')
                  a(href='#{op.uri}' class='btn btn-default') #{op.label}


    each action, i in actions
      if action.valid
        div
          div(id='#{action.id}')
            a.close-modal(href='#')
              span.fa.fa-angle-left
            include ./confirmForm.jade


