extends layout

block content
  .container.main
    .row
      .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        form.form-signin(method='post', action='', role='form')
          h2.form-signin-heading Authorize #{client_name}
          .form-group
            .div You are one step away from being able to use your Humanitarian ID login for #{client_name}
            h4 This application WILL be able to:
            ul.authorize-list
              li
                i.glyphicon.glyphicon-ok
                span View your profile information
            h4 This application WILL NOT be able to:
            ul.authorize-list
              li
                i.glyphicon.glyphicon-remove
                span View your password

          .form-group
            input(type='hidden', name='allow', value='yes')
            input(type='hidden', name='client_id', value='#{client_id}')
            input(type='hidden', name='redirect_uri', value='#{redirect_uri}')
            input(type='hidden', name='response_type', value='#{response_type}')
            input(type='hidden', name='scope', value='#{scope}')
            input(type='hidden', name='_csrf', value='#{csrf}')
            button.btn.btn-lg.btn-primary.btn-arrow.btn-block(type='submit') Thanks, I got it
              span.fa.fa-angle-right
