extends layout

block content
  p You are logged in as #{user.name_given} #{user.name_family}
  .container.main
    h1= title
    h2 Confirm: #{action.label}

    .container.main
      .row
        h3 Modify #{action.target}!

        if message
          div.messages(class='alert alert-warning', role='alert') !{message}

        div
          p #{action.description}

        div(class='btn-toolbar' role='toolbar')
          div(class='btn-group' role='group')
            button(type='button' class='btn btn-primary') Confirm #{action.shortName}
          div(class='btn-group' role='group')
            a(href='#{redirect_uri}' class='btn btn-default') Cancel

