h3 Modify #{action.target}!

div
  p #{action.description}

if message
  div.messages(class='alert alert-warning', role='alert') !{message}

if !complete
  form.form-account(method='post', action='#{action.submitUri}', role='form')
    input(type='hidden', name='redirect_uri', value='#{redirect_uri}')
    input(type='hidden', name='_csrf', value='#{csrf}')

    div(class='btn-toolbar' role='toolbar')
      div(class='btn-group' role='group')
        button.btn.btn-lg.btn-primary.btn-arrow.btn-block(type='submit') Confirm #{action.shortName}
      div(class='btn-group' role='group')
        a(href='#{cancel_uri}' class='btn btn-default') Cancel

else
  div(class='btn-toolbar' role='toolbar')
    each op, i in next
      div(class='btn-group' role='group')
        a(href='#{i}' class='btn btn-default')
          span.fa.fa-angle-right #{op}

