extends layout

block content

  .main

    div.header
      div.utility
        div.affiliate-logos
          div.affiliate-logo-wrapper
            a(href="http://www.humanitarianresponse.info", target="_blank")
              div.affiliate-logo.humanitarian-response
          div.affiliate-logo-wrapper
            a(href="http://reliefweb.int", target="_blank")
              div.affiliate-logo.relief-web
          div.affiliate-logo-wrapper
            a(href="https://data.hdx.rwlabs.org", target="_blank")
              div.affiliate-logo.hdx

    div.heading
      h1= title
      img(src= "/images/logo.png")
      div.message
        p Welcome to #{title}, a sign on service for Humanitarian.ID, HumanitarianResponse.info, and other OCHA community sites.
      div.buttons
        a.btn.btn-lg.btn-primary.btn-arrow.btn-block(href="#login") Login
          span.fa.fa-angle-right
        a.btn.btn-lg.btn-primary.btn-arrow.btn-block(href="#register") Register
          span.fa.fa-angle-right
        a.btn.btn-lg.btn-primary.btn-arrow.btn-block(href="#about") About
          span.fa.fa-angle-right
      div.notice
        if message
          div.messages(class='alert alert-warning', role='alert') !{message}

    div

      div(id='login')

        a.close-modal(href='#')
          span.fa.fa-angle-left
        h2 login

        form.form-signin(method='post', action='login', role='form')
          .form-group
            input.form-control(name='email', type='email', placeholder='Email address', required, autofocus)
          .form-group
            input.form-control(name='password', type='password', placeholder='Password', required)
          .form-group
            button.btn.btn-lg.btn-primary.btn-arrow.btn-block(type='submit',id='signInBtn') Proceed
              span.fa.fa-angle-right
            input(type='hidden', name='redirect', value='#{redirect}')
            input(type='hidden', name='client_id', value='#{client_id}')
            input(type='hidden', name='redirect_uri', value='#{redirect_uri}')
            input(type='hidden', name='response_type', value='#{response_type}')
            input(type='hidden', name='state', value='#{state}')
            input(type='hidden', name='scope', value='#{scope}')
            input(type='hidden', name='_csrf', value='#{csrf}')
          .form-group
            a.btn.btn-lg.btn-block.forgot-password(href='#forgotPass') Forgot your password?
            a.btn.btn-lg.btn-block.register(href='#register') Need to register?

      div(id='register')

        a.close-modal(href='#')
          span.fa.fa-angle-left
        h2 register

        p Sign up for a #{title} account, which will let you access HumanitarianResponse.info and other OCHA community sites.

        form.form-signin(method='post', action='register', role='form')
          .form-group
            input.form-control(name='email', type='email', placeholder='Email address', pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/', required)
          .form-group
            input.form-control(name='email_recovery', type='email', placeholder='Recovery email address (optional)')
          .form-group
            input.form-control(name='name_given', type='text', placeholder='Given name', required)
          .form-group
            input.form-control(name='name_family', type='text', placeholder='Family name', required)
          .form-group
            input.form-control(name='pass_new', type='password', placeholder='Password', required)
          .form-group
            input.form-control(name='pass_confirm', type='password', placeholder='Password (confirm)', required)
          .form-group
            button.btn.btn-lg.btn-primary.btn-arrow.btn-block(type='submit') Sign Up
              span.fa.fa-angle-right
            input(type='hidden', name='redirect', value='#{redirect}')
            input(type='hidden', name='client_id', value='#{client_id}')
            input(type='hidden', name='redirect_uri', value='#{redirect_uri}')
            input(type='hidden', name='response_type', value='#{response_type}')
            input(type='hidden', name='state', value='#{state}')
            input(type='hidden', name='scope', value='#{scope}')
            input(type='hidden', name='_csrf', value='#{csrf}')
            input(type='hidden', name='active', value=0)


      div(id='about')

        a.close-modal(href='#')
          span.fa.fa-angle-left

        h2 About

        p “Humanitarian.ID” provides a self-managed approach to contact lists.
        p It is a UN-owned humanitarian login and contact management solution that enables to coordinate efficiently in an emergency to ensure effective response.
        p As a neutral authentication system it serves humanitarian sites and tools, such as the HumanitarianResponse.info platform.
        p To find out more about the scope, features and benefits of Humanitarian.ID, please visit us at <a href="http://humanitarian.id">humanitarian.id</a>.
        p If you are interested in integrating the Humanitarian ID authentication on your platform, <a href="mailto:info@humanitarian.id">please contact us (info@humanitarian.id)</a>.

      div(id='forgotPass')

        a.close-modal(href='#')
          span.fa.fa-angle-left

        p If you forget the password for your #{title} account, you can request that a password reset link is sent to your primary or recovery email address.

        form.form-signin(method='post', action='resetpw', role='form')
          .form-group
            input.form-control(name='email', type='email', placeholder='Email address (primary or recovery)', required)
          .form-group
            button.btn.btn-lg.btn-primary.btn-arrow.btn-block(type='submit') Reset Password
              span.fa.fa-angle-right
            input(type='hidden', name='redirect', value='#{redirect}')
            input(type='hidden', name='client_id', value='#{client_id}')
            input(type='hidden', name='redirect_uri', value='#{redirect_uri}')
            input(type='hidden', name='response_type', value='#{response_type}')
            input(type='hidden', name='state', value='#{state}')
            input(type='hidden', name='scope', value='#{scope}')
            input(type='hidden', name='_csrf', value='#{csrf}')
