p Dear #{first_name}

p We are very excited that you have joined the Humanitarian ID community recently .

p We noticed that you have not yet verified your account. Please follow the link below in order to finish your registration. 

p As we expand integration with humanitarian websites, your account will gain you access to a wide range of resources. But, of course, it will also give you access to the Humanitarian ID contact management solution!

a(href=verify_link) #{verify_link}

include ../includes/footer_en.jade

hr.

p Bonjour #{first_name},

p We are very excited that you have joined the Humanitarian ID community recently .

p We noticed that you have not yet verified your account. Please follow the link below in order to finish your registration.

p As we expand integration with humanitarian websites, your account will gain you access to a wide range of resources. But, of course, it will also give you access to the Humanitarian ID contact management solution!

a(href=verify_link) #{verify_link}

include ../includes/footer_fr.jade

