p Dear #{first_name}

p We are very excited that you have joined the Humanitarian ID community recently .

p We noticed that you have not yet verified your account. Please follow the link below in order to finish your registration. 

p As we expand integration with humanitarian websites, your account will gain you access to a wide range of resources. But, of course, it will also give you access to the Humanitarian ID contact management solution!

a(href=verify_link) #{verify_link}

include ../includes/footer_en.jade

hr.

p Bonjour #{first_name},

p Nous sommes heureux que vous ayez rejoint la communauté Humanitarian ID récemment.

p Nous avons remarqué que vous n'avez pas encore vérifié votre compte. Veuillez suivre le lien ci-dessous pour terminer votre inscription.

p A mesure que nous développons l'intégration avec des sites web humanitaires, votre compte gagnera accès à une grande variété de ressources. Mais, bien sûr, il vous donnera accès à la solution de gestion de contacts Humanitarian ID !

a(href=verify_link) #{verify_link}

include ../includes/footer_fr.jade

