p Dear #{name_given},

p We are very excited that you have joined the Humanitarian ID community. As a first step, we need you to confirm your account by simply following the link below.

p As we expand integration with humanitarian websites, your account will gain you access to a wide range of resources. But, of course, it will also give you access to the Humanitarian ID contact management solution!

a(href=reset_url) #{reset_url}

include ../includes/footer_en.jade

hr.

p Bonjour #{name_given},

p Nous sommes ravis que vous ayez rejoint la communauté d’Humanitarian ID. Nous vous prions de bien vouloir confirmer votre compte en cliquant sur le lien ci-dessous.

p Nous sommes actuellement en train d’élargir l’intégration avec d’autres sites humanitaires, votre compte aura donc accès à encore plus de ressources. En outre, vous allez avoir accès à la solution de la gestion des contacts « Humanitarian ID » !

a(href=reset_url) #{reset_url}

include ../includes/footer_fr.jade
