p Dear #{nameFirst},

p #{adminName} has added you to the #{location} contact list on Humanitarian ID - a contact management system for the humanitarian community.

p To update or add more details and connect with other responders, please register using the link below. Humanitarian ID gives you control of your details on humanitarian contact lists.

a(href=reset_url) #{reset_url}

p If you do not want to register and would like your details removed, please submit the Removal Request form and we will remove your details from Humanitarian ID and all associated contact lists.

p Removal request:
  a(href='http://humanitarian.id/removal_request/') http://humanitarian.id/removal_request/

p
  | If you would like to learn more about Humanitarian ID and be the first to hear about new features, visit 
  a(href='http://humanitarian.id') http://humanitarian.id
  | , join our mailing list (
  a(href='http://humanitarian.id/subscribe') http://humanitarian.id/subscribe
  | ) and follow us on social media.

p(style='white-space:pre;')
      | The Humanitarian ID team
      | Site: 
      a(href='http://humanitarian.id') http://humanitarian.id
      | 
      | Animation: 
      a(href='http://humanitarian.id/animation') http://humanitarian.id/animation
      | 
      | Twitter: 
      a(href='https://twitter.com/humanitarianid') https://twitter.com/humanitarianid
      | 
      | YouTube: 
      a(href='http://humanitarian.id/youtube') http://humanitarian.id/youtube

hr.

p Cher(e) #{nameFirst}

p #{adminName} vous a ajouté à la liste de contacts de #{location} sur Humanitarian ID - un système de gestion de contact pour la communauté humanitaire.

p Pour mettre à jour ou ajouter plus de détails et se connecter avec d'autres intervenants, veuillez s'il vous plaît vous inscrire en utilisant le lien ci-dessous. Humanitarian ID vous donne le contrôle de vos données sur des listes de contacts humanitaires.

a(href=reset_url) #{reset_url}

p Si vous ne souhaitez pas vous inscrire et vous aimeriez supprimer vos coordonnées, veuillez s’il vous plaît soumettre le formulaire de demande de suppression de vos coordonnées de Humanitarian ID et toutes les listes de contact associées.

p Formulaire de demande de suppression:
  a(href='http://humanitarian.id/removal_request/') http://humanitarian.id/removal_request/

p 
  | Si vous souhaitez en savoir plus sur Humanitarian ID et être le premier à entendre parler de nouvelles fonctionnalités, visitez le site : 
  a(href='http://humanitarian.id') http://humanitarian.id
  | , rejoignez notre liste de diffusion (
  a(href='http://humanitarian.id/subscribe') http://humanitarian.id/subscribe
  | ) et suivez-nous sur les médias sociaux.

p(style='white-space:pre;')
      | L'équipe Humanitarian ID
      | Site: 
      a(href='http://humanitarian.id') http://humanitarian.id
      | 
      | Animation: 
      a(href='http://humanitarian.id/animation') http://humanitarian.id/animation
      | 
      | Twitter: 
      a(href='https://twitter.com/humanitarianid') https://twitter.com/humanitarianid
      | 
      | YouTube: 
      a(href='http://humanitarian.id/youtube') http://humanitarian.id/youtube
