p Dear #{nameGiven}

p You have been invited to join Humanitarian ID - a neutral humanitarian login and contact management system for humanitarian responders. In order to add your details and connect with other responders, please register using the link below

a(href=reset_url) #{reset_url}

p The Humanitarian ID team
a(href='http://humanitarian.id') http://humanitarian.id

hr.

p Bonjour #{nameGiven}

p Vous avez été invitez à joindre Humanitarian ID – un système autonome pour gérer les contacts des acteurs humanitaires. Pour ajouter vos détails et pour rentrer en contact avec autres humanitaires, on vous prie de bien vouloir vous enregistrer en utilisant le lien ci-dessous.

a(href=reset_url) #{reset_url}

p L'équipe Humanitarian ID
a(href='http://humanitarian.id') http://humanitarian.id
