p Dear #{nameGiven},

p We received a request to reset your password on Humanitarian ID. To make the change, simply follow the link below and provide your new password.

p If you did not request a password reset, kindly forward this email to info@humanitarian.id.

a(href=reset_url) #{reset_url}

p The Humanitarian ID team
p http://humanitarian.id

hr.

p Bonjour #{nameGiven},

p On a reçu une requête indiquant que vous voulez renouveler votre mot de passe sur Humanitarian ID. En cliquant sur le lien ci-dessous vous pouvez changer votre mot de passe.

p Si vous n’avez pas faites cette requête, on vous prie de nous faire suivre ce courriel à l’adresse de info@humanitarian.id.

a(href=reset_url) #{reset_url}

p L’équipe Humanitarian ID
p http://humanitarian.id
